body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.chat-container {

  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: justify;
}

.chat-header {
  background-color: #ff00bf;
  color: #fff;
  padding: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.chat-messages {
  padding: 10px;
  max-height: 300px;
}

.message {
  display: flex;
  gap: .25em;
  justify-content: space-between;
  margin-bottom: 15px;
}

.message-bubble {
  display: flex;
  flex-direction: column;
  background-color: #dadbdb;
  color: #313131;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;

}

.message-bubble.user {
  background-color: #ff60b0;
}

.message-text {
  margin: 0;
  word-wrap: break-word;
}

.message-input {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border-top: 1px solid #ccc;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.message-input input[type="text"] {
  flex: 1;
  border-bottom-left-radius: 5px;
  outline: none;
  margin-left : 5%;
  padding: 8px 5px;
  margin-top: 10px;
  background: #d8d8d8;
  border: 2px solid #ccc;
  border-color: #7c7c7c;
}

.message-input button {
  background-color: #ff009d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 100px;
  margin-left: 10px;
  align-items: center;
  cursor: pointer;
}

.start-button {
  text-align: center;
  padding: 20px;
}

.start-button button {
  background-color: #ff00bf;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

select {
  margin-top:.5em ;
  padding: .5em;
  color: rgb(133, 133, 133);
  -webkit-appearance: none; /* Para Safari y Chrome */
  -moz-appearance: none; /* Para Firefox */
  appearance: none; /* Resto de navegadores */
}

option{
  color:black
}

b{
  padding: 3px;
}
input{
  padding: .5em;
  margin-top:.5em ;
}

.left{
  text-align: start;
}

.profile{
  padding-left: 1em;
}